<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>EU06_OYCN</string>

    <key>CFBundleDisplayName</key>
    <string>EU06_OYCN</string>

    <key>CFBundleIdentifier</key>
    <string>circle.kaitwo.eu06_oycn</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleExecutable</key>
    <string>launcher_mac.sh</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleIconFile</key>
    <string>icon.icns</string>

    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>